.main-content{
    padding:20px 0px;
}

.profileBanner{
    width: 100%;
    margin:20px 0px;
    .rating{
        font-size: 12px;
        color: white;
    }
}

.bannerFirstHalf{
    // background-color: #57bffe;
    padding-top: 45px;
    background-image: url('/img/doctorSearchBan.jpg');
    padding-bottom: 80px;
}

.bannerFirstHalf>h2{
    color:#fff;
}

.bannerSecondHalf{
    // background: linear-gradient(0deg, #f8f9fa 50%, #57bffe 50%);
}
.bannerSecondHalf {
        position: relative;
        img{
        height: 100px;
        width: 100px;
        border-radius: 100%;
        border: 2px solid #fff;
        position: absolute;
        top: -65px;
        }
}
.edu_list{
    display: flex;
    align-items: center;
}

.icons{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    
}

.icons>i{
    padding:5px;
    font-size: 18px;
    color: #292929;
}

.doc_detail{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #292929;
}

.speciality{
    border:1px solid #57bffe;
    padding: 10px 20px;
    color: #292929;
}

.doctor_card{
    border-bottom: 1px solid #57bffe;
    color: #292929;
    @media screen and (max-width: 768px) and (min-width: 320px) {
        display: block !important;
     }
}
.doctor_card>ul{
    width: 50%;
    @media screen and (max-width: 768px) and (min-width: 320px) {
        width: 100%;
     }
    li {
        text-transform: capitalize;
        font-size: 14px;
        @media screen and (max-width: 768px) and (min-width: 320px) {
            font-size: 12px;
         }
       
    }
}

// .doctor_card>ul>li{
//     display: flex;
//     justify-content: center;
// }

.listing{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.listing>li{
    padding:0px 20px 0px 0px;
    color: #292929;
    text-transform: capitalize;
}

.experience{
    color: #292929;
}

.editBtnDoctor{
    // position: absolute;
    top: 20px;
    right: 150px;
    font-weight: 600;
    font-size: 14px;
    border: 2px solid #011b25;
    text-transform: capitalize !important;
    background: #fff;
    @media screen and (max-width: 768px) and (min-width: 320px) {
        right: 30px;
        font-size: 14px;
        top: 10px;
        padding: 5px 15px !important;
    }
}

.socialBtnDoctor{
    color:blue;
    padding: 2px 7px;
    border-radius: 5px;
    top: 20px;
    left: 5px;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid #011b25;
    text-transform: capitalize !important;
    background: #fff;
    @media screen and (max-width: 768px) and (min-width: 320px) {
        right: 30px;
        font-size: 14px;
        top: 10px;
        padding: 5px 8px !important;
    }
}
.social_icon_top{
    position: absolute;
    top:20px;
    @media screen and (max-width: 768px) and (min-width: 320px) {
        top: 10px;
    }
}
.sharebtn{
    right: 10px;
}
.social_icon{
    padding-left: 2px;
    display: flex;
    flex-direction: column;
}

.single-content {
    color:#000;
    ul {
        @media screen and (max-width: 568px) and (min-width: 320px) {
            display: block !important
        }
    }
    .subTitle {
        color: #57bffe;
    }
}
.noDoctorSection {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    h1 {
        color: #00bffe;
    }
    
}

.whatsapp{
    position: absolute;
    background-color: white;
    top: 31px;
    border: 1px solid black;
    padding: 2px;
    border-radius: 6px;
}