.single-category {
    cursor: pointer;
  }
  
  .country_doctor {
    display: flex;
    justify-self: start;
    margin: 0px;
    padding: 8px 0px;
    color: #292929;
    font-size: 15px;
    font-weight: 400;
  }
  
  .country_title {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 8px;
    color: #292929;
    font-size: 15px;
    font-weight: 500;
  }
  
  
  .popularComp {
    cursor: pointer;
  
    .border-bottom {
      width: 0%;
      height: 5px;
      background: #14637d;
      transition: all .3s ease;
    }
  
    .border-bottom {
      bottom: 0;
      left: 0px;
    }
  
    &:hover .border-bottom {
      width: 100%;
    }
  }
  
  $skyblue: #00BFFE;
  
  .keep {
    background: #d6f0f98f;
    padding: 10px 5px;
    font-size: inherit;
    font-weight: 700;
    position: relative;
    vertical-align: middle;
  
    &::before,
    &::after {
      box-sizing: inherit;
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  
  .draw {
    transition: color 0.25s;
  
    &::before,
    &::after {
      border: 2px solid transparent;
      width: 0;
      height: 0;
    }
  
    &::before {
      top: 0;
      left: 0;
    }
  
    &::after {
      bottom: 0;
      right: 0;
    }
  
    &:hover {
      color: $skyblue;
    }
  
    &:hover::before,
    &:hover::after {
      width: 100%;
      height: 100%;
    }
  
    &:hover::before {
      border-top-color: $skyblue;
      border-right-color: $skyblue;
      transition:
        width 0.25s ease-out,
        height 0.25s ease-out 0.25s;
    }
  
    &:hover::after {
      border-bottom-color: $skyblue;
      border-left-color: $skyblue;
      transition:
        border-color 0s ease-out 0.2s,
        width 0.25s ease-out 0.2s,
        height 0.25s ease-out 0.4s;
    }
  }
  
  .meet {
    &::after {
      top: 0;
      left: 0;
    }
  
  
    &:hover::after {
  
      transition:
        height 0.25s ease-out,
        width 0.25s ease-out 0.25s;
    }
  
  }
  
  .center {
  
    &::before,
    &::after {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transform-origin: center;
    }
  
    &::before {
  
      transform: scale3d(0, 1, 1);
    }
  
    &::after {
  
      transform: scale3d(1, 0, 1);
    }
  
    &:hover::before,
    &:hover::after {
      transform: scale3d(1, 1, 1);
      transition: transform 0.5s;
    }
  }
  
  .spin {
    width: 5em;
    height: 5em;
    padding: 0;
  
  
    &::before,
    &::after {
      top: 0;
      left: 0;
    }
  
    &::before {
      border: 2px solid transparent;
    }
  
    &:hover::before {
  
      transition:
        border-top-color 0.15s linear,
        border-right-color 0.15s linear 0.10s,
        border-bottom-color 0.15s linear 0.20s;
    }
  
    &::after {
      border: 0 solid transparent;
    }
  
    &:hover::after {
      border-left-width: 2px;
      border-right-width: 2px;
      transform: rotate(270deg);
      transition:
        transform 0.4s linear 0s,
        border-left-width 0s linear 0.35s;
    }
  }
  
  .circle {
    border-radius: 100%;
    box-shadow: none;
  
    &::before,
    &::after {
      border-radius: 100%;
    }
  }
  
  .thick {
  
    &:hover {
      color: #fff;
      font-weight: 700;
    }
  
    &::before {
      border: 2.5em solid transparent;
      z-index: -1;
    }
  
    &::after {
      mix-blend-mode: color-dodge;
      z-index: -1;
    }
  
    &:hover::before {
  
      transition:
        background 0s linear 0.4s,
        border-top-color 0.15s linear,
        border-right-color 0.15s linear 0.15s,
        border-bottom-color 0.15s linear 0.25s;
    }
  
    &:hover::after {
      border-left-width: 2.5em;
      border-right-width: 2.5em;
    }
  }
  
  .popular_css {
    padding: 10px 0px 10px 0px;
  }
  
  