/* search */
.search-section {
  height: 550px;
  background: url(/img/banner.png);
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  @media screen and (max-width: 568px) and (min-width: 320px) {
    padding: 5px;
    height: 450px;
  }

  .searchBoxContainer {
    width: 50%;
    height: 448px;
    background: #00BFFE 0% 0% no-repeat padding-box;
    border-radius: 10px;
    border-right: 45px solid #00bffea1;
    border-bottom: 45px solid #00bffea1;
    margin-left: 10%;
    padding: 34px 34px 0px 45px;
    position: absolute;
    top:5%;

    @media screen and (max-width: 768px) and (min-width: 568px) {
      width: 80%;
      margin-left: 5%;
      padding: 30px;
      height: 400px;
    }

    @media screen and (max-width: 568px) and (min-width: 320px) {
      width: 100%;
      margin-left: 0;
      padding: 20px;
      border-right: 20px solid #00bffea1;
      border-bottom: 20px solid #00bffea1;
    }

    h1 {
      text-align: left;
      letter-spacing: 2.16px;
      color: #FFFFFF;
      font-size: 30px;
      opacity: 1;

      @media screen and (max-width: 568px) and (min-width: 320px) {
        text-align: left;
        letter-spacing: 2.16px;
        font-size: 25px;
      }
    }

    p {
      text-align: left;
      letter-spacing: 0.9px;
      color: #FFFFFF;
      margin-top: 21px;
      opacity: 1;
      font-size: 18px;

      @media screen and (max-width: 568px) and (min-width: 320px) {
        font-size: 15px;
      }
    }

    .searchSubmit {
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border-radius: 2px;
      opacity: 1;
      border: 1px solid #FFFFFF;
      padding: 10px 15px;
      text-align: left;
      letter-spacing: 0.32px;
      margin-top: 30px;
      cursor: pointer;
      color: #00BFFE;

      @media screen and (max-width: 568px) and (min-width: 320px) {
        padding: 12px 20px;
      }
    }

    .customSelect {
      display: flex;
      width: 100%;
      font-size: 15px;
    }
  }
}

.dropDown {
  width: 48%;
  color: black;
}