.doctorListPage {
  padding: 3rem!important;
  @media screen and (max-width: 568px) and (min-width: 320px) {
    padding: .5rem!important;
 }
}
.single-profile {
  color: #675f52;
    font-weight: 600;
    text-transform: capitalize;
    padding: 30px 21px !important;
    img {
      border-radius: 100% !important;
    }
}
.noUser{
  background: #f90;
    border-radius: 3px;
    color: #fff;
}
// doctor list

.listTitle {
  text-align: left;
  letter-spacing: 0;
  color: #292929;
  opacity: 1;
  font-size: 42px;
}
.allDoctorList {
  width: 75%;
  @media screen and (max-width: 769px) and (min-width: 320px) {
    width: 100%;
 }
 @media screen and (max-width: 1024px) and (min-width: 769px) {
  width: 80%;
}
}
.singleDoctor {
  border:1px solid #00befd;
  padding: 30px;
  cursor: pointer;
  @media screen and (max-width: 568px) and (min-width: 320px) {
    padding: 5px;
 }
  .imgContainer {
    img {
      height: 150px;
      border-radius: 100%;
      width: 150px;
      border: 1px solid #00befd;
      @media screen and (max-width: 568px) and (min-width: 320px) {
        height: 80px;
        width: 80px;
     }
    }
    @media screen and (max-width: 768px) and (min-width: 320px) {
      display: flex;
      justify-content: center;
   }
  }
  .docName {
    // border-bottom: 2px solid #00bffe59;
    color: #292929;
    @media screen and (max-width: 568px) and (min-width: 320px) {
     font-size: 14px;
   }
  }
  .doctorItem {
    li {
      color: #292929;
      font-size: 15px;
      text-transform: capitalize;
      @media screen and (max-width: 768px) and (min-width: 568px) {
        font-size: 12px;
     }
      @media screen and (max-width: 568px) and (min-width: 320px) {
        font-size: 10px;
     }
    }
  }
  &:hover {
    background: #00befd24;
  }
}

.doc_list_div{
  width: 75%;
  margin: 0 auto;
  @media screen and (max-width: 568px) and (min-width: 320px) {
    width: 90%;
 }
}

.card_icons{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating{
  font-size: 12px;
  color: black;
}