.banner {
  width: 90%;
  margin: 0 auto;
}
.banner-bg {
  height: 315px !important;
  position: relative;
  .banner-text {
    position: absolute;
    z-index: 99;
    padding: 85px;
    left: 0;
    font-weight: 600;
    right: 0;
    color: #f5f4f2;
    h1 {
      font-size: 36px;
      color: #fff;
    }
    a {
      background: transparent;
      padding: 10px;
      border: 2px solid #fff;
      color: #fff;
      &:hover {
        background: #000;
        color: #fff;
        border: 2px solid #584206a6;
      }
    }
  }
  .film {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #503307a3;
    z-index: 1;
    pointer-events: none;
  }
}
